.hero_section {
  width: 100%;
  background-image: url("./background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_section h1 {
  font-size: 48px;
  color: white;
}

footer {
  background-color: grey;
  text-align: center;
  color: white;
  padding: 15px;
}
